.axis {
	font-size: 16px;
	font-family: "Simplon";
	font-weight: bold;
	& path,
	& line {
	  fill: none;
	  stroke: palette-get(na-black-10);
	  stroke-width: 1.5px;
	  shape-rendering: crispEdges;
	}

	.tick line {
		stroke: palette-get(na-black-10);
	}

	&__title {
		fill: palette-get(na-black-40);
		font-weight: normal;
		font-size: 16px;
	}

	/*&-x, &-y {
		.tick:nth-child(even) {
		    display: none;
		}

		@include breakpoint(medium) {
			.tick:nth-child(even) {
			    display: initial;
			}
		}
	}*/
}