.callout-box {
	&.black {
		background-color: palette-get(na-black);
		color: palette-get(na-black-30);
	}

	&.white {
		background-color: white;
		color: palette-get(na-black);
	}

	padding: 0px 0px;
	font-size: 18px;
	display: table;
	@media all and (min-width: 900px) {
		font-size: 2vw;
		padding: 0px 0px;
	}
	@media all and (min-width: 1250px) {
		font-size: 24px;
	}

	&__column {
		display: table-cell;
		vertical-align: top;
		padding: 0px 20px;
	}

	&__section {
		padding: .7em 0px;
		&__title {
			font-weight: bold;
			text-decoration: underline;
			font-size: .8em;

			.black & {
				color: white;
			}
		}

		&__content {
			padding: .8em 0px;
			@media all and (min-width: 550px) {
				display: flex;
				
			}
			& > * {
				vertical-align: top;
				flex-grow: 1;
				padding: .5em 0px;
				@media all and (min-width: 550px) {
					padding: 0px .5em;
				}
				
				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}

				

			}

			@media all and (min-width: 550px) {
				&.children-1  > * {
					width: 100%;
					
				}
				&.children-2  > * {
					width: 50%;
					
				}
				&.children-3 > * {
					width: 33%;
					
				}
			}
		}

		
	}

	&__fact-box-list {
		&.horizontal {
			display: flex;
			flex-flow: row wrap;
			align-content: flex-start;

			.callout-box__fact-box {
				display: inline-block;
				padding: .1em .6em;
				
				border-left: 1px solid palette-get(na-black-40);

				&__value {
					font-size: 2.2em;
					font-family: 'Platform';
					.black & {
						color: white;
						-webkit-text-fill-color: palette-get(na-black); /* Will override color (regardless of order) */
					    -webkit-text-stroke-width: 1px;
					    -webkit-text-stroke-color: palette-get(na-black-30);
					}

					.white & {
						color: palette-get(na-black);
						-webkit-text-fill-color: white; /* Will override color (regardless of order) */
					    -webkit-text-stroke-width: 1px;
					    -webkit-text-stroke-color: palette-get(na-black-40);
					}
					margin-bottom: 0px;
				  
				}

				&__label {
					
				}
			}
		}

		&.vertical {
			.callout-box__fact-box {
				display: block;
				border-bottom: 1px solid palette-get(na-black-40);
				overflow: hidden;
				margin-bottom: .1em;

				&__value, &__label {
					display: inline-block;
					margin-bottom: 0px;
					line-height: 1.1;
				}
				&__value {
					font-size: 1em;
					font-family: 'Platform';
					
					font-weight: bold;
				   	float: right;
				   	margin-top: .4em;
				   	.black & {
				   		color: white;
				   	}
				}

				&__sub-list {
					margin-bottom: 10px;
					&__item {
						display: block;
						padding-left: 10px;
						margin-left: 10px;
						border-left: 1px solid palette-get(na-black-40);
					}
				}

				&__sub-value, &__sub-label {
					display: inline-block;
					margin-bottom: 0px;
					line-height: 1.1;
				}

				&__sub-value {
					font-size: .7em;
					font-family: 'Platform';
					color: palette-get(na-black-40);
					font-weight: normal;
				   	float: right;
				   	margin-top: .8em;
				}

				&__sub-label {
					color: palette-get(na-black-40);
					
				}
			}
		}

		&.vertical-outline {
			.callout-box__fact-box {
				display: block;
				padding: .1em .6em;

				&__value {
					font-size: 2.2em;
					font-family: 'Platform';
					.black & {
						color: white;
						-webkit-text-fill-color: palette-get(na-black); /* Will override color (regardless of order) */
					    -webkit-text-stroke-width: 1px;
					    -webkit-text-stroke-color: palette-get(na-black-30);
					}

					.white & {
						color: palette-get(na-black);
						-webkit-text-fill-color: white; /* Will override color (regardless of order) */
					    -webkit-text-stroke-width: 1px;
					    -webkit-text-stroke-color: palette-get(na-black-40);
					}
					margin-bottom: 0px;
				}
			}
		}

	}

	&__fact-box, &__data-paragraph {
		&__label, &__sub-label {
			font-size: .6em;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	&__fact-box__val-container {
		overflow: hidden;
	}

	&__simple-map {
		&__path {
			fill: palette-get(na-black);
			stroke: white;
		}

		&__point {
			fill: rgba(231, 92, 100, 1);
			stroke: white;
		}
	}

	&__data-paragraph {
		font-size: 1em;
		font-weight: normal;
		margin-bottom: 0px;

		&__value {
			color: white !important;
			font-size: .7em;
			line-height: 1.5;
		}

		&__label {
			border-bottom: 1px solid palette-get(na-black-40);
		}
	}
}