.callout-box {
	background-color: palette-get(na-black);
	color: palette-get(na-black-30);
	padding: 20px;
	font-size: 18px;
	@media all and (min-width: 900px) {
		font-size: 2vw;
		padding: 35px 50px;
	}
	@media all and (min-width: 1250px) {
		font-size: 24px;
	}

	&__section {
		padding: .7em 0px;
		&__title {
			font-weight: bold;
			text-decoration: underline;
			font-size: .8em;
			color: white;
		}

		&__content {
			padding: .8em 0px;
			@media all and (min-width: 550px) {
				display: flex;
				
			}
			& > * {
				vertical-align: top;
				flex-grow: 1;
				padding: .5em 0px;
				@media all and (min-width: 550px) {
					padding: 0px .5em;
				}
				
				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}

				

			}

			@media all and (min-width: 550px) {
				&.children-1  > * {
					width: 100%;
					
				}
				&.children-2  > * {
					width: 50%;
					
				}
				&.children-3 > * {
					width: 33%;
					
				}
			}
		}

		
	}

	&__fact-box-list {
		&.horizontal {
			display: flex;
			flex-flow: row wrap;
			align-content: flex-start;

			 .callout-box__fact-box {
				display: inline-block;
				padding: .1em .6em;
				
				border-left: 1px solid palette-get(na-black-40);

				&__value {
					font-size: 2.2em;
					font-family: 'Platform';
					color: palette-get(na-black-30);
					margin-bottom: 0px;
				   -webkit-text-fill-color: palette-get(na-black); /* Will override color (regardless of order) */
				   -webkit-text-stroke-width: 1px;
				   -webkit-text-stroke-color: palette-get(na-black-30);
				}

				&__label {
					
				}
			}
		}

		&.vertical {
			.callout-box__fact-box {
				display: block;
				border-bottom: 1px solid palette-get(na-black-40);
				overflow: hidden;
				margin-bottom: .1em;

				&__value, &__label {
					display: inline-block;
					margin-bottom: 0px;
					line-height: 1.1;
				}
				&__value {
					font-size: 1em;
					font-family: 'Platform';
					color: white;
					font-weight: bold;
				   	float: right;
				   	margin-top: .4em;
				}
			}
		}

	}

	&__fact-box, &__data-paragraph {
		&__label {
			font-size: .6em;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	&__simple-map {
		&__path {
			fill: palette-get(na-black);
			stroke: white;
		}

		&__point {
			fill: rgba(231, 92, 100, 1);
			stroke: white;
		}
	}

	&__data-paragraph {
		font-size: 1em;
		font-weight: normal;
		margin-bottom: 0px;

		&__value {
			color: white;
			font-size: .7em;
		}

		&__label {
			border-bottom: 1px solid palette-get(na-black-40);
		}
	}
}