.chart-toggle {
	padding: $desktop-padding 0px;
	&__icon {
		fill: palette-get(na-black-30);
		margin-right: 15px;
		width: 30px;
		cursor: pointer;

		&.active {
			fill: palette-get(na-black);
		}
	}
}