.chart-toggle {
	padding: 0px 0px $desktop-padding 0px;
	&__icon {
		fill: palette-get(na-black-30);
		margin-right: 12px;
		width: 24px;
		cursor: pointer;

		&.active {
			fill: palette-get(na-black);
		}
	}
}