.dashboard {
	&__floated {
		@media screen and (max-width:700px){
		    width: 100% !important;
		    float: none;
		    padding: 10px 0px;
		}
		
		float: left;
		padding-right: $desktop-padding;
		&:last-child {
			padding-right: 0px;
		}
			
	}

	&__row {
		.chart-wrapper {
			padding-bottom: 0px;
		}

		&:first-child {
			padding-top: 20px;
		}

		&:after { 
		   content: "."; 
		   visibility: hidden; 
		   display: block; 
		   height: 0; 
		   clear: both;
		}
	}
}