.data-box {
	z-index: 50;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 20px;
	background-color: white;
    border: 1px solid palette-get(na-black-10);
    min-width: 230px;
    max-width: 40%;
/*    max-height: 400px;*/
    overflow-y: scroll;

	&.hidden {
		display: none;
	}

	&__title {
		color: palette-get(na-black);
        font-size: 18px;
        margin: 3px 0px;
        font-weight: bold;
	}

	&__subtitle {
		color: palette-get(na-black-40);
        font-size: 12px;
        padding-bottom: 10px;
        margin-bottom: 0px;
	}

	&__category-label {
		font-weight: bold;
        font-size: 12px;
        padding: 7px 0px;
        margin-bottom: 0px;
        color: palette-get(na-black);
	}

	&__category-container {
		width: 100%;
        display: block;
	}

	&__value-container {
		margin: 4px 0 -3px 0;
		&.hidden {
			display: none;
		}
	}

	&__value-label, &__value {
		display: inline-block;
		font-size: 12px;
		vertical-align: top;
		margin-bottom: 0px;
	}

	&__value-label {
		padding-right: 5px;
		font-weight: normal;
        color: palette-get(na-black-40);
	}

	&__value {
		color: palette-get(na-black);
		a {
			border: none !important;
		}
	}
}