.definition-explorer {
	padding-top: 15px;
	&__entry-container {
		display: table;
		border-collapse: collapse;
		width: 100%;
	}

	&__entry {
		border: 1px solid palette-get(na-black-10);
		display: table-row;
		cursor: pointer;

		&.expanded {
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
			-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
		}

		&:not(.expanded) {
			&:hover {
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
			}
		}

		&__content {
			margin: 0px 10px 0px 10px;

			.double-column & {
				display: table;
				margin-bottom: 10px;
			}
		}
		
		&__title {
			color: palette-get(na-black);
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 0px;
			padding: 10px;
		}

		&__description-section, &__sub-list {
			.double-column & {
				display: table-cell;
			}
		}

		&__description-section {
			.double-column & {
				padding-right: 5px;
				width: 35%;
			}
			&__label {
				font-size: 14px;
				color: palette-get(na-black);

				.double-column & {
					display: none;
				}
			}
			&__value {
				margin-bottom: 10px;
				vertical-align: top;
				font-size: 14px;
				color: palette-get(na-black-40);
				
				/*@include breakpoint(medium) {
					display: table-cell;
					width: 35%;
					padding-right: 10px;
				}*/
			}
		}

		&__sub-list {
			width: 65%;

			.double-column & {
				padding-left: 5px;
				border-left: 1px solid palette-get(na-black-10);
			}
		}

		&__list {
			padding-bottom: 20px;
			@include breakpoint(medium) {
				display: table-cell;
				width: 65%;
			}
		}
	}

	&__sub-entry {
		&__title {
			color: palette-get(na-turquoise);
			font-size: 15px;
			font-weight: bold;
			padding-left: 5px;
		}

		&__description {
			margin-left: 10px;
		}

		&:not(:first-child) {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid palette-get(na-black-10);
		}

		.double-column & {
			margin-top: 0px;
			padding-top: 0px;
			border: none;
		}
	}
}

.entry-content-enter {
  opacity: 0.01;
  max-height: 0px;
  overflow: hidden;
  
}

.entry-content-enter.entry-content-enter-active {
  opacity: 1;
  max-height: 1000px;
  transition: 1000ms ease-in-out;
  overflow: hidden;

}

.entry-content-leave {
  opacity: 1;
  height: 100px;
  overflow: hidden;
}

.entry-content-leave.entry-content-leave-active {
  opacity: 0.01;
  height: 0px;
  overflow: hidden;
  transition:1000ms;
}