.dot-chart {
	position: relative;
	&__axis-categorical__text {
		fill: palette-get(na-black-40);
		font-size: 14px;
		alignment-baseline: middle;
		text-anchor: start;
	}

	&__axis-time {
		text {
			fill: palette-get(na-black-40);
			font-size: 10px;
			font-weight: bold;
		}

		line, path {
			stroke: palette-get(na-black-40) !important;
		}
	}

	&__layout-selector {
		padding-bottom: 20px;
		&__option {
			text-align: center;
			font-size: 16px;
			padding: 10px;
			color: palette-get(na-black);
			border: 1px solid palette-get(na-black-70);
			cursor: pointer;
			opacity: .7;

			&.active {
				font-weight: bold;
				border-color: palette-get(na-black);
				opacity: 1;
			}

			&:hover {
				opacity: 1;
				
			}

			&::after {
			    display:block;
			    content:attr(title);
			    font-weight:bold;
			    height:1px;
			    color:transparent;
			    overflow:hidden;
			    visibility:hidden;
			    margin-bottom:-1px;
			}
		}
	}

	&__histogram-annotation {
		&__text {
			font-size: 12px;
			fill: palette-get(na-black-70);
		}

		&__line {
			stroke: palette-get(na-black);
			stroke-width: 1px;
		}
	}

	.legend {
		padding-bottom: 15px;
		&__cell__label {
			margin-bottom: 0px;
		}
	}

	&__dot {
		fill-opacity: .8;
		stroke-width: 1.7px;
		&.clickable {
			cursor: pointer;
		}
	}
}