@mixin showSideLegend {
	@media screen and (min-width: 800px) {
        @content;
    }
}

.legend {
	
	background: white;
	padding: 15px;

	@include showSideLegend {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	&__title {
		font-size: 16px;
		color: palette-get(na-black);
		font-weight: bold;

	}

	&__cell {
		cursor: pointer;
		&.disabled {
			circle {
				fill: palette-get(na-black-10);
			}
			text {
				fill: palette-get(na-black-10);
			}
		}
	}
}