.legend {
	

	&__title {
		font-size: 17px;
		color: palette-get(na-black);
		font-weight: bold;
		padding-bottom: 5px;
		display: inline-block
	}

	&__annotation {
		font-weight: normal;
		color: palette-get(na-black-40);
		font-size: 12px;
		display: inline-block;
		padding-left: 10px;
	}

	&__title-description {
		@include chart-secondary-text;
	}

	&.horizontal-center {
		margin: auto;
		text-align: center;
		padding-top: 15px;
		.legend__cell-container {
			margin: auto;
			width: 100%;
		}

		.legend__cell-list {
			text-align: center;
		}

		&.top {
			width: 100%;
			position: absolute;
			top: 0px;
		}
	}

	&.horizontal-left {
		.legend__cell__color-swatch-container, .legend__cell__label {
			float: left;
		}
	}

	&.vertical-right {
		width: calc(100%/4);
		position: absolute;
		right: 0px;
		bottom: 0;
		padding: 15px 0px;

		.legend__cell {
			display: table;
			padding-bottom: 10px;
		}

		.legend__cell__color-swatch-container, .legend__cell__label {
			display: table-cell;
			float: none;
		}

		.legend__cell__label {
			line-height: 1.2;
		}
	}

	&.vertical-right-center {
		width: 250px;
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);

		.legend__cell {
			width: 100%;
			margin-bottom: 8px;

			&__color-swatch-container {
				display: inline-block;
				float: none;
				position: relative;
				top: -6px;
			}
			&__label {
				display: inline-block;
				vertical-align: top;
				width: 150px;
				float: none;
				margin-bottom: 0px;
			}
			&__val-count {
				display: inline-block;
				vertical-align: top;
				float: none;
			}
		}
	}

	&__cell {
		cursor: pointer;
		padding-right: 23px;

		&__color-swatch-container, &__label, &__val-count {
			float: left;
		}

		&__color-swatch-container {
			margin-top: 5px;
		}

		&__label {
			padding-left: 10px;
			margin-bottom: 5px;
			@include chart-secondary-text;
		}

		&__val-count {
			padding-left: 10px;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: bold;
		}

		&.disabled {
			.legend__cell__color-swatch {
				fill: palette-get(na-black-10);
			}
			.legend__cell__label, .legend__cell__val-count {
				color: palette-get(na-black-10) !important;
			}
		}
	}

	&__axis {
		text {
			font-size: 16px;
			font-weight: normal;
			fill: palette-get(na-black-40);
		}
	}
}