.quote-scroller {
	&__category {
		padding: 15px 0px;
		
		&__title, &__description {
			max-width: 900px;
			text-align: center;
			margin: auto;
		}

		&__title {
			font-family: "Platform" !important;
			color: palette-get(na-black);
			line-height: 1.4;
			padding-bottom: 10px;
		}

		&__quotes {
			padding-top: 20px;
		}
	}

	&__quote {
		padding: 25px 0px;
		width: 70%;
		
		&:nth-child(even) {
			text-align: right;
			margin-left: auto;
		}
		&__text, &__source {
			line-height: 1.4;
			font-size: 15px;
		}

		&__text {
			& > * {
				color: palette-get(na-black-70) !important;
				line-height: 1.4 !important;
				font-size: 15px !important;
			}
			
		}
		&__source {
			color: palette-get(na-turquoise);
			font-weight: bold;
		}
	}
}