.slider {
	&__track {
		stroke-linecap: round;
		stroke: palette-get(na-black-10);
		stroke-opacity: 1;
		pointer-events: stroke;
		stroke-width: 1px;
		cursor: pointer;
	}

	&__handle {
		fill: white;
		stroke: palette-get(na-black-10);
		stroke-opacity: 1;
		stroke-width: 1.25px;
		cursor: pointer;

        &.hidden {
            display: none;
        }
	}

    .tick text{
        font-weight: normal;
        fill: palette-get(na-black-40);

    }

    &__button-container {
        position: relative;
        left: 20px;
        top: -12px;
        padding-right: 10px;
        display: inline-block;
        width: 75px
    }

    &__button {
        box-shadow: none !important;
        display: table-cell;
        cursor: normal;
        font-size: 12px;
        padding: 0.75em .75em !important;

        &:not(.selected) {
            background-color: white;
            border-top: 1px solid palette-get(na-black-10);
            border-bottom: 1px solid palette-get(na-black-10);
            border-left: 1px solid palette-get(na-black-10);
            color: palette-get(na-black);
            cursor: pointer;

            &:hover {
                background-color: palette-get(na-black-10);
            }
        }

        &:last-child {
            border-right: 1px solid palette-get(na-black-10);
        }
    }
}

.slider-div {
    display: inline-block;
    width: calc(100% - 75px);
}

.mapboxgl-map {
	.slider-container {
		width: calc(100% - 300px);
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
        display: none;
        background-color: white;
        border: 1px solid palette-get(na-black-10);
        @media (min-width: 700px) {
        	display: block;
        }

        & > .has-show-all {
            position: relative;
        	width: calc(100% - 150px);
            display: inline-block;
        }

        & > .show-all-button {
        	position: relative;
        	
        }

        .slider__button-container {
            width: 150px;
        }
	}
}