$summary-box-max-width: 750px;
$summary-box-show-color-scale-breakpoint: $summary-box-max-width + 100px + 5px;

@mixin showSummaryBoxColorScale {
	@media screen and (min-width: $summary-box-show-color-scale-breakpoint ) {
        @content;
    }
}

.summary-box {
	max-width: $summary-box-max-width;
	width: 350px;
	@include showSummaryBoxColorScale {
		width: auto;
	}
	overflow-x: scroll;
	background-color: white;
	padding: $desktop-padding;
	margin: $desktop-padding auto;
	border: 1px solid palette-get(na-black-10);
	position: relative;

	@include standard-shadow;

	&__content-container {
		width: $summary-box-max-width - 2*$desktop-padding;
	}

	&__title-container {
		padding-bottom: 10px;
	}

	&__title-label {
		@include chart-secondary-text;
		color: palette-get(na-black);
		margin-bottom: 0px;
	}

	&__title {
		font-weight: bold;
		font-size: 24px;
		display: table-cell;
		vertical-align: middle;
		color: palette-get(na-black);
	}
	
	&__category-name {
		color: palette-get(na-black-40);
		font-weight: normal;
		font-size: 16px;
		padding: 5px 0px;
	}

	&__category-list {
		.summary-box__list-item {
			padding-left: 10px;
		}
	}

	&__list-item {
		display: table;
		&__val-container, &__color-scale {
			display: table-cell;
		}

		&__val-container {
			width: 350px;
		}
		&__label {
			@include chart-primary-text;
			padding-right: 5px;
			
		}

		&__value {
			@include chart-secondary-text;
			color: palette-get(na-black);
		}

		&__color-scale {
			display: none;
			@include showSummaryBoxColorScale {
				display: block;
			}
			&__container {
				position: relative;
				display: inline-block;
				height: 6px;
				width: 200px;
			}

			&__bin {
				height: 6px;
				display: inline-block;
			}

			&__marker-container {
				width: 20px;
				height: 20px;
				position: absolute;
				top: 8px;
			}

			&__marker {
				fill: white;
				stroke-width: 3;
			}

			&__average-line {
				height: 20px;
				width: 3px;
				background-color: palette-get(na-black-30);
				position: absolute;
				top: 8px;
			}

			&__label-left, &__label-right {
				display:inline-block;
				@include chart-secondary-text;
				width: 80px;
			}

			&__label-left {
				text-align: right;
				padding-right: 10px;
			}

			&__label-right {
				padding-left: 10px;
			}
		}

		&__rank {
			@include chart-secondary-text;
			color: palette-get(na-black);
			padding-left: 20px;
		}
	}

	&__average-line-label {
		display: none;
		@include showSummaryBoxColorScale {
			display: block;
		}
		@include chart-secondary-text;
		position: absolute;
		border-left: 3px palette-get(na-black-30) solid;
		padding-left: 5px;
		top: 100px;
		left: 450px;
		height: 20px;
		line-height: 20px;
	}



}