.table {
	width: 100% !important;


}

.dataTables_filter {
	float: left !important;
	text-align: left !important;
	width: 300px;
}

table.dataTable {
	td {
		color: palette-get(na-black-40);

		&.sorting_1 {
			color: palette-get(na-black);
			font-weight: bold;
		}
	}
}