.table {
	width: 100% !important;


}

.dataTables_filter {
	float: left !important;
	text-align: left !important;
	width: 300px;
}

table.dataTable thead .sorting {
  background-image: url("/src/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/src/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/src/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/src/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/src/images/sort_desc_disabled.png");
}

table.dataTable {
	td {
		color: palette-get(na-black-40);

		&.sorting_1 {
			color: palette-get(na-black);
			font-weight: bold;
		}
	}
}