.tooltip {
	width: 330px;
	position:absolute;
	background-color: white;
	padding: $desktop-padding;
	border: 1px solid palette-get(na-black-10);
	@include standard-shadow;

	&.hidden {
		display: none;
	}

	&__title-container {
		padding-bottom: 15px;
		.person__icon {
			margin: 0px !important;
			display: table-cell;

		}
	}

	&__title {
		font-weight: bold;
		font-size: 18px;
		display: table-cell;
		vertical-align: middle;
		

		&.has-image {
			padding-left: 15px;
		}
	}

	&__category {
		&__name, &__list {
			padding-left: 10px;
		}
		&__name {
			color: palette-get(na-black-40);
			font-weight: normal;
			font-size: 16px;
		}

		&__list {

		}

		&__list-item {
			display: block;
			&__label, &__value {
				font-size: 16px;
				display: inline-block;
			}
			&__label {
				font-weight: bold;
				padding-right: 5px;
				
			}

			&__value {
				color: palette-get(na-black-40);
				font-weight: normal;
			}
		}
	}




}