.custom-homegrown-map {
	&__main {

	}

	&__section {
		width: 100%;
		padding: 10px;

		@include breakpoint(medium) {
			width: 50%;
			display: inline-block;
		}

		&__title {
			font-weight: bold;
			font-size: 16px;
		}

		&__map-container {
			border: 1px solid palette-get(na-black-10);
		}
	}

	&__path {
		stroke: white;
		stroke-width: 1px;
	}
}
